<form name="passwordForm" style="max-width: 500px" autocomplete="off">
    <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control" ng-model="password" required>
    </div>
    <div class="form-group">
        <label>Password confirmation</label>
        <input name="confirmation" type="password" class="form-control" ng-model="confirmation" required>
    </div>
    <button type="button" class="btn btn-default" ng-disabled="!canUpdate(passwordForm)" ng-click="update(passwordForm)">Update</button>
    <span>{{validateError}} {{message}}</span>
</form>