<form name="addOrgForm" class="form-horizontal" novalidate autocomplete="off">
    <div class="modal-header">
        <h4>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="addBy" btn-radio="'create'">Create</label>
                <label class="btn btn-primary" ng-model="addBy" btn-radio="'join'">Join</label>
            </div>
            an organization

        </h4>
    </div>

    <div class="modal-body">
        <!-- create a new org -->
        <div ng-if="addBy === 'create'">
            <form name="createOrgForm">
                <fieldset>
                    <label>Name</label>
                    <input name="orgName" class="form-control" type="text" ng-model="org.name" required autofocus>
                    <label>Identifier</label>
                    <input name="orgIdentifier" class="form-control" type="text" ng-model="org.identifier" required>
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="org.description">

                    </textarea>
                    <pre>{{org | json}}</pre>
                </fieldset>
            </form>
        </div>

        <!-- join an org -->
        <div ng-if="addBy === 'join'" class="input-group">
            <input name="searchIdentifier" class="form-control" type="text" ng-model="identifier.v" required placeholder="Search by identifier...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-disabled="!canSearch(addOrgForm)" ng-click="search(addOrgForm)">Search</button>
            </span>
        </div>
        <div ng-show="addBy === 'join' && foundOrg" class="well well-sm">
            <label>{{foundOrg.name}}</label>
            <p>
                {{foundOrg.description}}
            </p>
        </div>
    </div>
    <div class="alert alert-danger" ng-show="error">
        {{error}}
    </div>
    <div class="alert alert-success" ng-show="message">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-if="addBy === 'create'" ng-click="createOrg(addOrgForm)"
                ng-disabled="!canCreate(addOrgForm)">Create</button>
        <button class="btn btn-primary" ng-if="addBy === 'join'" ng-click="join(addOrgForm)" ng-disabled="!canJoin(addOrgForm)">Join</button>
        <button class="btn clear" ng-click="clearForm()">Clear</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>