<div>
    <h3>Members</h3>

    <div class="panel panel-default" ng-repeat="group in groups">
        <div class="panel-heading">
            <h4 class="panel-title">{{group.name}}
                <span class="dropdown">
                    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" href ng-click="openGroupDialog(group)">Edit</a></li>
                        <li role="presentation"><a role="menuitem" href>Add member</a></li>
                    </ul>
                </span>

            </h4>

        </div>
        <div class="panel-body">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" ng-repeat="user in groupMembers[group.groupId]"
                        data-toggle="dropdown">
                    <img ng-src="{{getUserPicUrl(user.id)}}" class="img-rounded" width="30" height="30"
                         ng-if="user.pictureSet"/> {{user.firstName}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" href>Remove from group</a></li>
                </ul>
            </span>

        </div>
    </div>
</div>