<div ng-if="process.$resolved">
    <h2><span ng-if="!process.orgId">System Process:</span>
        {{process.name}}<span ng-if="!process.name">{{process.id}}</span>
    </h2>
    <p>
        <span class="label label-primary" ng-if="process.endTime">
            Archived
        </span>
        <span class="label label-default">{{getOrg(process.orgId).name}}</span>
        <span class="label label-info" ng-if="!process.orgId">System</span>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Started at: {{archProcess.startTime | date: 'medium'}}
        <span class="glyphicon glyphicon-user"></span> Starter: {{archProcess.startUserId}}
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <img ng-src="{{getDiagramUrl(process.id)}}" err-src="/images/no_image.jpg">
        </div>
    </div>
    <accordion>
        <accordion-group heading="Data" is-open="stateObj.isDataOpen">
            <pre>{{formDef | json}}</pre>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="key in varKeys()">
                    {{formDef[key].name || key}}:{{formatDataValue(key, vars[key])}}
                </a>
            </div>
        </accordion-group>
        <accordion-group heading="Tasks" is-open="stateObj.isTasksOpen">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="archTask in archTasks"
                   ng-class="{'list-group-item-success':!archTask.endTime}"
                   href ng-click="openDialog(archTask)">
                    <span class="glyphicon glyphicon-play" ng-if="!archTask.endTime"></span>
                    <span class="glyphicon glyphicon-ok-sign" ng-if="archTask.endTime"></span>
                    {{archTask.name}}
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-user"></span>{{archTask.assignee}}
                    </span>
                </a>
            </div>
        </accordion-group>
        <accordion-group heading="Process Template" is-open="stateObj.isTemplateOpen">
            <!-- for non-system process -->
            <span ng-if="process.orgId">
                <a ng-if="!process.endTime"
                   ui-sref="templates.details({orgId: process.orgId, templateId: process.processDefinitionId})">{{process.processDefinitionName}}
                    <span class="label label-default">v{{process.processDefinitionVersion}}</span></a>
                <span ng-if="process.endTime && stateObj.isTemplateOpen">
                    <a ng-if="getProcessTemplate(process.processDefinitionId).id"
                       ui-sref="templates.details({orgId: process.orgId, templateId: process.processDefinitionId})">
                        {{getProcessTemplate(process.processDefinitionId).name}}
                        <span class="label label-default">v{{getProcessTemplate(process.processDefinitionId).version}}</span></a>
                    </a>
                    <span ng-if="!getProcessTemplate(process.processDefinitionId).id">
                        The process template has been undeployed.
                    </span>
                </span>
            </span>
            <!-- for system process -->
            <span ng-if="!process.orgId">
                <a ng-if="!process.endTime">{{process.processDefinitionName}}
                    <span class="label label-default">v{{process.processDefinitionVersion}}</span>
                </a>
                <span ng-if="process.endTime && stateObj.isTemplateOpen">
                    <a ng-if="getProcessTemplate(process.processDefinitionId).id">
                        {{getProcessTemplate(process.processDefinitionId).name}}
                        <span class="label label-default">v{{getProcessTemplate(process.processDefinitionId).version}}</span>
                    </a>
                    <span ng-if="!getProcessTemplate(process.processDefinitionId).id">
                        The process template has been undeployed.
                    </span>
                </span>
            </span>
        </accordion-group>
    </accordion>
</div>