<header>
    <h1>Process</h1>
</header>
<div  class="row">
    <aside class="col-md-3">
        <div>
            <span class="dropdown" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><span class="glyphicon glyphicon-check"></span> {{status | uppercase}} <span class="caret"></span></button>
                <span class="dropdown-menu" role="menu">
                    <li><a ui-sref="processes({status:'active'})">Active</a></li>
                    <li><a ui-sref="processes({status:'archived'})">Archived</a></li>
                </span>
            </span>
        </div>

        <accordion>
            <accordion-group heading="Started by me" is-open='stateObj.isStartedByMeOpen' class="list-group">
                <a class="list-group-item" ng-repeat="process in startedByMe" ui-sref="processes.details({processId: process.id})"
                   ui-sref-active="active">{{process.name}}<span  ng-if="!process.name">{{process.id}}</span></a>
            </accordion-group>
            <accordion-group heading="Involves me" is-open='stateObj.isInvolvesMeOpen' class="list-group">
                <a class="list-group-item" ng-repeat="process in involvesMe"  ui-sref="processes.details({processId: process.id})"
                   ui-sref-active="active">{{process.name}}<span ng-if="!process.name">{{process.id}}</span></a>
            </accordion-group>
        </accordion>
    </aside>

    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>