<div>
    <div ng-repeat="field in formDef.formProperties" class="input-group input-group-sm">
        <span class="input-group-addon" style="min-width: 160px">{{field.displayName}}
            <span ng-if="!field.displayName">{{field.name}}</span>
            <span ng-if="!field.displayName && !field.name">{{field.id}}</span>
        </span>

        <span ng-switch="field.type.name">
            <span ng-switch-default>
                <textarea ng-if="formObj[field.id] && formObj[field.id].length>20"
                        name="{{field.id}}" class="form-control" ng-model="formObj[field.id]" ng-required="field.required">
                </textarea>

                <input ng-if="!formObj[field.id] || formObj[field.id].length<=20"
                       type="text" name="{{field.id}}" class="form-control" ng-model="formObj[field.id]" ng-required="field.required">

            </span>
            <!-- For Boolean -->
            <span class="form-control" ng-switch-when="boolean">
                <!-- https://coderwall.com/p/ybbopq/use-ng-value-for-ng-model-with-boolean-values -->
                <label >
                    <input type="radio" name="{{field.id}}" ng-value="true"
                           ng-model="formObj[field.id]">Yes
                </label>
                <label >
                    <input type="radio" name="{{field.id}}" ng-value="false"
                           ng-model="formObj[field.id]">No
                </label>
            </span>

            <!-- For Long -->
            <span ng-switch-when="long">
                <input type="number" name="{{field.id}}" class="form-control" ng-model="formObj[field.id]" ng-required="field.required">
            </span>

            <!-- For date -->
            <span ng-switch-when="date" class="input-group">
                <input type="text" name="{{field.id}}" datepicker-popup="yyyy-MM-dd" is-open="stateObj[field.id]"
                       class="form-control" ng-model="dateInternal[field.id]" ng-required="field.required">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$event.preventDefault();$event.stopPropagation();stateObj[field.id]=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>

            </span>
        </span>

    </div>
</div>