<header>
    <h1>Process</h1>
</header>
<div  class="row">
    <aside class="col-md-3">
        <accordion>
            <accordion-group heading="Started by me" is-open='stateObj.isStartedByMeOpen' class="list-group">
                <a class="list-group-item" ng-repeat="process in startedByMe" ui-sref="processes.details({processId: process.id})"
                   ui-sref-active="active">{{process.name}}<span  ng-if="!process.name">{{process.id}}</span></a>
            </accordion-group>
            <accordion-group heading="Involves me" is-open='stateObj.isInvolvesMeOpen' class="list-group">
                <a class="list-group-item" ng-repeat="process in involvesMe"  ui-sref="processes.details({processId: process.id})"
                   ui-sref-active="active">{{process.name}}<span ng-if="!process.name">{{process.id}}</span></a>
            </accordion-group>
        </accordion>
    </aside>

    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>