<div>
    <status-toggle status="status" sref-name="project.tasks">
    </status-toggle>


    <div class="list-group">
        <a href class="list-group-item" ng-repeat="task in getTasksInList('non-listed')" ng-click="openDialog(task)">
            {{task.name}}
            <span class="pull-right">
                <span class="danger-default btn-xs" ng-if="task.dueDate">{{task.dueDate | date}}</span>
                {{task.assignee || 'Unassigned'}}
            </span>
        </a>
        <showmore ng-if="tasks.length<taskCount.v" ng-click="loadMore()"/>
    </div>

    <div ng-repeat="taskList in taskLists">
        <div>
            <h4>
                <span class="draggableHandle glyphicon glyphicon-th"></span>
                <span tooltip="{{taskList.description}}">{{taskList.name}}</span>

                <sub ng-if="taskList.startTime || taskList.endTime">
                    {{taskList.startTime | date}} - {{taskList.dueTime | date}}
                </sub>
                <span class="dropdown">
                    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" href ng-click="openTaskListDialog(taskList)">Edit</a></li>
                        <li role="presentation"><a role="menuitem" href>Archive</a></li>
                    </ul>
                </span>
            </h4>

        </div>


        <div ng-include="'views/task.quickAdder.html'" ng-controller="TaskQuickAdderController"></div>
        <div class="list-group" ui-sortable="sortableOptions" ng-model="taskListsMap[taskList.id]">
            <div class="list-group-item"  ng-repeat="task in taskListsMap[taskList.id]">
                <span class="draggableHandle glyphicon glyphicon-th"></span>

                <a href ng-click="openDialog(task)">{{task.name}}   {{task.position}}</a>
                <span class="pull-right">
                <span class="danger-default btn-xs" ng-if="task.dueDate">{{task.dueDate | date}}</span>
                {{task.assignee || 'Unassigned'}}
                </span>
            </div>
        </div>
        <hr/>
    </div>
    <div ng-include="'views/taskList.quickAdder.html'" ng-controller="TaskListQuickAdderController"></div>
</div>