<aside class="app-sidebar" ng-controller="CurrentUserController">
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle>
            Create <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href>Task</a> </li>
            <li class="divider"></li>
            <li><a href>Project</a> </li>
        </ul>
    </div>


    <div class="list-group">
        <a class="list-group-item" ui-sref-active="active" ui-sref="tasks">Task</a>
        <a href="#/processes" class="list-group-item" ui-sref-active="active">Process</a>
    </div>

    <div ng-controller="SideOrgController" ng-init="loadMyOrgs()" ng-if="isLoggedIn()">
        <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="org in myOrgs" heading="{{org.name}}" ng-init="loadProjectsForOrg(org)">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="project in orgProjects[org.id]">{{project.name}}</li>
                </ul>
            </accordion-group>
        </accordion>
    </div>

    <div>
        <div class="well" ng-if="isLoggedIn()">
            <div class="row">
                <div class="col-md-4" ng-if="getCurrentUser().pictureSet">
                    <img ng-src="{{getCurrentUserPicUrl()}}" class="img-rounded" width="60" height="60"/>
                </div>
                <div class="col-md-4">
                    <div class="row">{{getCurrentUser().id}}</div>
                    <div class="row">{{getCurrentUser().firstName}}</div>
                </div>
            </div>
        </div>
        <div ng-controller="LoginDialogController as login">
            <button ng-show="!isLoggedIn()" class="btn btn-default" ng-click="open()">Login</button>
            <button ng-show="isLoggedIn()" class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
    </div>
</aside>