<aside class="app-sidebar" ng-controller="CurrentUserController" ng-init="initCache()">
    <div class="btn-group" dropdown ng-controller="SideCreateController">
        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle>
            Create <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="openTaskDialog()"><span class="glyphicon glyphicon-check"></span> Task</a> </li>
            <li class="divider"></li>
            <li><a href ng-click="openProjectDialog()"><span class="glyphicon glyphicon-lock"></span> Project</a> </li>
        </ul>
    </div>


    <div class="list-group">
        <a class="list-group-item" ui-sref-active="active"><span class="glyphicon glyphicon-dashboard"></span>  Dashboard</a>
        <a class="list-group-item" ui-sref-active="active" ui-sref="tasks"><span class="glyphicon glyphicon-check"></span> Task</a>
        <a href="#/processes" class="list-group-item" ui-sref-active="active"><span class="glyphicon glyphicon-retweet"></span> Process</a>
    </div>

    <div ng-controller="SideOrgController" ng-if="isLoggedIn()">
        <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="org in getMyOrgs()" heading="{{org.name}}">
                <div class="list-group">
                    <a ui-sref="project({projectId: p.id})" ui-sref-active="active" class="list-group-item"
                       ng-repeat="p in getOrgProjects(org.id)"><span class="glyphicon glyphicon-briefcase"></span> {{p.name}}</a>
                    <a  ui-sref-active="active" class="list-group-item" ui-sref="templates({orgId:org.id})"><span class="glyphicon glyphicon-open-file"></span> Process Templates</a>
                    <a  ui-sref-active="active" class="list-group-item"  ui-sref="models({orgId:org.id})"><span class="glyphicon glyphicon-pencil"></span> Process Models</a>
                </div>
            </accordion-group>
        </accordion>
    </div>

    <div>
        <div class="well" ng-if="isLoggedIn()">
            <div class="row">
                <div class="col-md-4" ng-if="getCurrentUser().pictureSet">
                    <img ng-src="{{userPicUrl}}" class="img-rounded" width="60" height="60"/>
                </div>
                <div class="col-md-4">
                    <div class="row">{{getCurrentUser().id}}</div>
                    <div class="row dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="accountMenu" data-toggle="dropdown">
                            {{getCurrentUser().firstName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" href  ui-sref="account.settings">Your account</a></li>
                            <li role="presentation"><a role="menuitem" href ui-sref="orgSettings">Organization Settings</a></li>
                            <li role="presentation"><a role="menuitem" href ng-click="openOrgAddDialog()">Add organization</a></li>
                            <!--<li role="presentation" class="divider"></li>-->
                            <!--<li role="presentation"><a role="menuitem" ng-click="logout()">Log out</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="LoginDialogController as login">
            <button ng-show="!isLoggedIn()" class="btn btn-default" ng-click="open()">Login</button>
            <button ng-show="!isLoggedIn()" class="btn btn-default" ng-click="openSignUpDialog()">Sign up</button>
            <button ng-show="isLoggedIn()" class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
    </div>
</aside>