<div>
    <div class="modal-header">
        <h4>
            <span editable-text="task.name" onbeforesave = "updateTask('name', $data)" blur="submit" e-maxlength="30" e-minlength="1">{{task.name || 'empty'}}</span>
            <button type="button" ng-click="closeDialog()" class="close" aria-label="Close" style="float: right;" e-maxlength="500"><span aria-hidden="true">&times;</span></button>
        </h4>
    </div>

    <div class="modal-body">
        <div>
            <span editable-textarea="task.description" onbeforesave = "updateTask('description', $data)" e-rows="3" e-cols="70" blur="submit">{{task.description || 'empty'}}</span>
        </div>
        <div>
            Created by {{task.creator}} on {{task.createTime|date}}
        </div>
        <div>
            Assignee {{task.assignee}}
        </div>
        <div>
            Org {{org.name}}
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media" ng-repeat="event in events">
                    <div class="media-left">
                        <a href>
                            <img class="media-object img-rounded" ng-src="{{getUserPicUrl(event.userId)}}" width="60" height="60">
                        </a>
                    </div>
                    <div class="media-body">
                        <p>{{event.message}}</p>
                        <div class="media-heading">{{event.userId}} at {{event.time | date}}</div>
                    </div>
                    <hr ng-if="!$last"/>
                </div>
            </div>
        </div>
    </div>
</div>