<p>
<div class="list-group" ng-if="isLoggedIn()">
    <a href class="list-group-item" ng-repeat="task in tasks | filter:filterEx" ng-click="openDialog(task)">
        {{task.name}} <sup><span class="label label-default">{{getOrg(task.orgId).name}}</span></sup>
        <span class="pull-right">
            <span class="btn btn-danger btn-xs" ng-if="task.dueDate">{{task.dueDate | date}}</span>
            {{task.assignee || 'Unassigned'}}
        </span>
    </a>
    <showmore ng-if="tasks.length<taskCount.v" ng-click="loadMore()" />
</div>
</p>