<div>
    <div class="modal-header">
        <h4>
            <span editable-text="task.name" onbeforesave = "updateTask('name', $data)" blur="submit" e-maxlength="30" e-minlength="1">{{task.name || 'empty'}}</span>
            <button type="button" ng-click="closeDialog()" class="close" aria-label="Close" style="float: right;" e-maxlength="500"><span aria-hidden="true">&times;</span></button>
        </h4>
    </div>

    <div class="modal-body">
        <div>
            <span editable-textarea="task.description" onbeforesave = "updateTask('description', $data)" e-rows="3" e-cols="70" blur="submit">{{task.description || 'empty'}}</span>
        </div>
        <div>
            Created by {{task.creator}} on {{task.createTime|date}}
        </div>
        <div>
            <span class="input-group" datepicker-popup ng-model="dueDateForPicker"  is-open="opened" close-text="Close" >
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <span class="form-control" style="width: 150px">
                  {{(task.dueDate|date) || 'No due date'}}
              </span>
              <span>
                  {{dueDateError}}
              </span>
            </span>
        </div>
        <div>
            Org
            <!--https://github.com/angular-ui/ui-select/wiki/ui-select-choices-->
            <ui-select ng-model="org" theme="select2" style="width: 220px">
                <ui-select-match placeholder="Select org...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="myOrg in myOrgs | filter: $select.search">
                    <div ng-bind-html="myOrg.name | highlight: $select.search"></div>
                    <small>
                        identifier: {{myOrg.identifier}}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div>
            Assignee
            <ui-select ng-model="assignee" theme="select2" style="width: 220px">
                <ui-select-match placeholder="Select assignee...">{{$select.selected.id || 'Unassigned'}}</ui-select-match>
                <ui-select-choices repeat="aUser in users | filter: $select.search">
                    <div ng-bind-html="aUser.id | highlight: $select.search"></div>
                    <small>
                        Name: <span ng-bind-html="aUser.firstName | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            {{task.assignee}}
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media" ng-repeat="event in events">
                    <div class="media-left">
                        <a href>
                            <img class="media-object img-rounded" ng-src="{{getUserPicUrl(event.userId)}}" width="60" height="60">
                        </a>
                    </div>
                    <div class="media-body">
                        <p>{{event.message}}</p>
                        <div class="media-heading">{{event.userId}} at {{event.time | date}}</div>
                    </div>
                    <hr ng-if="!$last"/>
                </div>
            </div>
        </div>
    </div>
</div>