<header>
    <h1>Task</h1>
</header>
<div class="row">
    <aside class="col-md-3">
        <div>
            <span class="dropdown" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><span class="glyphicon glyphicon-check"></span> {{status | uppercase}} <span class="caret"></span></button>
                <span class="dropdown-menu" role="menu">
                    <li><a ui-sref="tasks({status:'active'})">Active</a></li>
                    <li><a ui-sref="tasks({status:'archived'})">Archived</a></li>
                </span>
            </span>
        </div>


        <div class="list-group" ng-if="isLoggedIn()" ng-init="loadCounts()">
            <a ui-sref="tasks.list({listType: '_my'})" class="list-group-item" ui-sref-active="active">
                <span class="badge">{{myTaskCount.v}}</span>
                All my assignment
            </a>
            <a ui-sref="tasks.list({listType:'_createdByMe'})" class="list-group-item" ui-sref-active="active">
                <span class="badge">{{createdByMeCount.v}}</span>
                Created by me
            </a>
            <a ui-sref="tasks.list({listType:'_myCandidate'})" class="list-group-item" ui-sref-active="active">
                <span class="badge">{{candidateTaskCount.v}}</span>
                All my candidate
            </a>
        </div>
    </aside>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>