<div>
    <h2>{{template.name}}<span ng-if="!template.name">{{template.id}}</span></h2>
    <p><span class="glyphicon glyphicon-duplicate"></span> Version: {{template.version}}</p>
    <div>
        <button class="btn btn-default" style="min-width: 100px" ng-click="startToggle($event)" btn-checkbox ng-model="stateObj.isStartOpen">
            <span class="glyphicon glyphicon-play-circle"></span> Start</button>
        <button class="btn btn-danger" style="min-width: 100px" ng-click="undeployToggle($event)" btn-checkbox ng-model="stateObj.isUndeployConfirmOpen">
            <span class="glyphicon glyphicon-remove"></span> Undeploy</button>
    </div>

    <!-- undeploy confirm -->
    <div ng-if="stateObj.isUndeployConfirmOpen" class="panel panel-danger">
        <div class="panel-body">
            <div>Are you sure that you would like to undeploy template {{template.name}}(version {{template.version}})?</div>
            <button class="btn btn-danger" ng-click="undeployTemplate()">Yes</button>
            <button class="btn btn-default" ng-click="stateObj.isUndeployConfirmOpen=false">No</button>
            <span>{{undeployMessage}}</span>
        </div>
    </div>

    <div ng-if="stateObj.isStartOpen" class="panel panel-default">
        <div class="panel-body">
            <form name="processStartForm">
                <process-form form-def="formDef" form-obj="formObj"></process-form>
            </form>

            <pre>{{formObj | json}}</pre>
            <div>
                <button class="btn btn-warning" ng-click="startProcess()" ng-disabled="!canStart(processStartForm)">Start</button>
                <span>{{startMessage}}</span>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <img ng-src="{{getDiagramUrl(template.id)}}">
        </div>
    </div>
    <accordion>
        <accordion-group heading="Running Processes" is-open="stateObj.isProcessesOpen">
            <span ng-if="!processes || processes.length===0">
                The template has no running process.
            </span>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="process in processes" >{{process.name}} (id:{{process.id}})
                <span class="label label-info">{{getActivityName(process.activityId)}}</span>
                </a>
            </div>
        </accordion-group>
        <accordion-group heading="Model" is-open="stateObj.isModelOpen">
            <a ui-sref="models.details({orgId: model.orgId, modelId: model.id})">{{model.name}}</a>
        </accordion-group>
    </accordion>
</div>