<div class="dropdown-popup-holder">
    <button class="btn btn-{{dateInfo | dateInfoClass}} qh-icon-btn datepicker-btn"
            btn-checkbox ng-model="popupInfo.isOpened" ng-click="$event.stopPropagation()">
        <span class="glyphicon glyphicon-calendar"></span>
        <span style="text-transform: capitalize">{{dateInfo | dateInfo}}</span>
        <span class="caret"></span>
    </button>
    <dropdown-popup popup-info="popupInfo" ng-if="popupInfo.isOpened" >
        <datepicker-panel date-info="dateInfo" commit="commit"></datepicker-panel>
    </dropdown-popup>
</div>