<div class="datepicker-panel">
    <div>
        Debug: {{date}}
    </div>
    <datepicker ng-model="date" show-weeks="false"></datepicker>
    <div class="footer-actions">
        <div class="footer-actions-l btn-group">
            <button class="btn btn-default" ng-click="makeUrgent()" btn-radio="'urgent'" ng-model="dateType">Urgent</button>
            <button class="btn btn-default" ng-click="makeNoDueDate()" btn-radio="'no due date'" ng-model="dateType">No Due Date</button>
        </div>
        <div class="footer-actions-r">
            <button class="btn btn-danger" ng-disabled="disablePick()" ng-click="pickDate()">Save</button>
        </div>
    </div>
</div>