<div class="dropdown-popup-holder">
    <button class="btn btn-default qh-icon-btn"
            btn-checkbox ng-model="popupInfo.isOpened" ng-click="$event.stopPropagation()">
        <avatar user="selectedInfo.selected"></avatar>
        <span>{{selectedInfo | selectedInfoUsername}}</span>
        <span class="caret"></span>
    </button>
    <dropdown-popup popup-info="popupInfo" ng-if="popupInfo.isOpened" >
        <user-picker-panel users="users" selected="selectedInfo.selected" commit="commit"></user-picker-panel>
    </dropdown-popup>
</div>