<!DOCTYPE html>
<html>
<head>
    <title>Image Cropper</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.css" />
    <style>
        .test-area {
            display: block;
            height: 400px;
        }

        .img-container {
            max-height: 600px;
            max-width: 600px;
            float: left;
        }

        /*.img-container img {*/
            /*max-height: 200px;*/
            /*max-width: 200px;*/
        /*}*/


        .img-preview {
            height:200px;
            width: 200px;
            float: left;
        }
    </style>
</head>
<body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendor/tapmodo-Jcrop-1902fbc/js/jquery.Jcrop.js"></script>
<script src="scripts/common/directives/field.js"></script>
<script src="scripts/common/directives/cropper.js"></script>
<script src="scripts/cropperPlay.js"></script>

<!-- Wrap the img with a block element -->
<div class="test-area">
    <h4>Native jQuery</h4>
    <div class="img-container">
        <img id="nativeCropper" class="cropper" src="images/motor.jpg">
    </div>

    <div class="img-preview" style="width:100px;height:100px;overflow:hidden;margin-left:5px;">
        <img  id="nativePreview" src="images/motor.jpg">
    </div>
</div>
<div ng-app="cropperPlay" class="test-area" ng-controller="cropperPlayCtrl">
    <h4>AngularJs</h4>
    <div class="img-container">
        <cropper bind-src="imgInfo.src" bind-coords="coords" aspect-ratio="1" box-height='300' box-width='300'></cropper>
    </div>
    <div class="img-preview">
        <cropper-preview bind-src="imgInfo.src" bind-coords="coords" box-height='100' box-width='100'></cropper-preview>
    </div>
    <div>
        <field label="Img src" ng-model="imgInfo.src" ng-options="value as label for (label, value) in srcs" template="select">
        </field>
        <input ng-model="imgInfo.src" size="40">
        <span>
            {{coords | json}}
        </span>
    </div>

</div>



</body>
</html>