<div class="well">
    <form name="form" crud-edit="project" patchable novalidate class="form-horizontal">
        <fieldset>
            <field ng-model="project.name" name="name" type="text" label="Name" required>
                <validator key="required">Name is required</validator>
            </field>
            <field ng-model="project.desc" name="desc" rows="8" template="textarea" label="Description">
            </field>
        </fieldset>
        <div class="row">
            <hr>
            <crud-buttons></crud-buttons>
        </div>
    </form>
</div>