<div class="well">
    <form name="form" crud-edit="project" novalidate>
        <div class="row-fluid">
            <div class="span6">
                <field ng-model="project.name" name="name" type="text" label="Name"
                       size="60" required>
                </field>
                <field ng-model="project.desc" name="desc" template="textarea" label="Description"
                        cols="65" rows="8">
                </field>
            </div>
        </div>
        <div class="row-fluid">
            <hr>
            <crud-buttons class="span12"></crud-buttons>
        </div>
    </form>
</div>