<div>
    <div ng-include="'views/new-btn.tpl.html'"/>

    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th class="span3">Name</th>
            <th class="span5">Description</th>
            <th class="span2">Owner</th>
            <th class="span2">Tools</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td><a ui-sref="projects.edit({itemId:project.id})">{{project.name}}</a></td>
            <td>{{project.desc}}</td>
            <td>{{project.productOwner}}</td>
            <td>
                <a ng-click="manageBacklog(project)" class="btn btn-mini btn-default">Backlog</a>
                <a class="btn btn-mini btn-default">Sprints</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
