<div>
    <div ng-include="'views/new-btn.tpl.html'"/>
    <ul class="collection">
        <li ng-repeat="project in projects" class="animate-repeat">
            <div class="row">
                <div class="col-md-10">
                    <h3><span class="glyphicon glyphicon-briefcase"></span> <a ui-sref="projects.edit({itemId:project.id})">{{project.name}}</a></h3>
                    <div>{{project.desc}}</div>
                    <div>
                        <span class="meta-info">
                            <span class="glyphicon glyphicon-user"></span>
                            {{project.productOwner | replaceNull:'No owner'}}
                        </span>
                        <span class="meta-info">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            {{project.createdAt | date:'medium'}}
                        </span>
                    </div>
                </div>
                <div class="btn-group-vertical col-md-2 hidden-actions">
                    <a ng-click="manageBacklog(project)" class="btn btn-mini btn-default">
                        <span class="glyphicon glyphicon-list"></span>
                        Backlog
                    </a>
                    <a class="btn btn-mini btn-default"><span class="glyphicon glyphicon-calendar"></span>
                        Sprints
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
