<div>
    <h3>Backlogs for project {{project.name}}</h3>
    <div ng-include="'views/new-btn.tpl.html'"></div>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Estimation</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="backlogItem in backlogs" ng-click="edit(backlogItem.id)">
            <td>{{backlogItem.name}}</td>
            <td>{{backlogItem.desc}}</td>
            <td>{{backlogItem.priority}}</td>
            <td>{{backlogItem.estimation}}</td>
        </tr>
        <tr ng-show="!backlogs.length">
            <td colspan="4">No items in the backlogs</td>
        </tr>
        </tbody>
    </table>
</div>
