<div>
    <h3 ng-if="project" >Backlogs for project {{project.name}}</h3>
    <h3 ng-if="!project" >All Backlogs</h3>
    <div class="row">
        <div class="col-sm-2" ng-include="'views/new-btn.tpl.html'"></div>
        <pagination ng-show="backlogCount.value > itemsPerPage" class="col-sm-9" total-items="backlogCount.value" ng-model="currentPage" items-per-page="itemsPerPage"></pagination>
    </div>
    <ul class="collection">
        <li ng-repeat="backlogItem in backlogs">
            <div class="row">
                <div class="col-md-12">
                    <h3><a ng-click="goEdit(backlogItem.id)" class="btn-link">{{backlogItem.name}}</a></h3>
                    <div>{{backlogItem.desc}}</div>
                    <div>
                        <span class="meta-info">
                            <span class="glyphicon glyphicon-flag"></span>
                            {{backlogItem.priority}}
                        </span>
                        <span class="meta-info">
                            <span class="glyphicon glyphicon-calendar"></span>
                            {{backlogItem.estimation}}
                        </span>
                        <span class="meta-info">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            {{backlogItem.createdAt | date:'medium'}}
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
