<div class="well">
    <h4>Product backlogs item</h4>
    <hr>
    <form name="form" crud-edit="backlogItem" patchable novalidate>
        <field name="name" labe="Name" type="text" ng-model="backlogItem.name" required autofocus>
            <validator key="required">Name is required</validator>
        </field>
        <field name="desc" label="User story" template="textarea" rows="8" cols="10" ng-model="backlogItem.desc">
        </field>
        <field name="priority" label="Priority" type="number" ng-model="backlogItem.priority" required>
        </field>
        <field name="estimation" ng-model="backlogItem.estimation" required>
        </field>
        <hr>
        <crud-buttons></crud-buttons>
    </form>
</div>