<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/styles/css/nice-checkbox.css"/>
</head>
<body ng-app="nice-checkbox-demo">

    <div class="page-header">
        <h1>Nice Checkbox</h1>
    </div>

    <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body" ng-controller="DemoCtrl">
                    <div>Unchecked: <input type="checkbox" nice-checkbox ng-model="selected1" /> <span>Actual value: {{selected1}}</span></div>
                    <div>Checked: <input type="checkbox" nice-checkbox ng-model="selected2" /> <span>Actual value: {{selected2}}</span></div>
                </div>
            </div>

    </div>






    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/json3/lib/json3.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/scripts/components/nice-checkbox/nice-checkbox.js"></script>
    <script src="demo.js"></script>
</body>
</html>