@import "variables.less";

.datepicker-panel {
  .footer-actions {
    width:252px;
    margin-top: 10px;
    position: relative;

    .footer-actions-l {
      float: left;
    }
    .footer-actions-r {
      float: right;
    }
    .btn {
      padding: 6px;
      text-transform: uppercase;
      font-size: 0.8em;
    }




  }
}

table button {
  .ng-binding.text-info {
    font-weight: bolder;
    color: @color-high-light-blue;
    display: inline-block;
  }

  &:active, &:checked, &:focus,&.active,&.btn-info {
    .ng-binding.text-info {
      color: @text-color-w;
    }
  }
}



.datepicker-panel-popup {
  padding: 10px;
  position: absolute;
  top: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 8px @color-header-bg;
  z-index: 3;
}

.datepicker-btn {
  &.btn-danger, &.btn-warning {
    .glyphicon {
      color : @color-text-dark;
//      width: 4px;
//      visibility: hidden;
    }
  }
}
