@import "variables.less";

.datepicker-panel {
  .footer-actions {
    width:252px;
    margin-top: 10px;
    position: relative;

    .footer-actions-l {
      float: left;
    }
    .footer-actions-r {
      float: right;
    }
    .btn {
      padding: 6px;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }
}

.datepicker-panel-popup {
  padding: 10px;
  position: absolute;
  top: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 8px @color-header-bg;
}
