<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <div>
        <form name="form" novalidate patchable="getPatch" autocomplete="off">
            <!--
            <div>
                <label for="username">Username</label><input id="username" name="username" type="text" ng-model="user.username" required unique-username>
                <span ng-show="form.username.$error['uniqueUseranme']" class="help-inline">Not unique</span>
            </div>
            -->
            <!--
            <div>
                <label for="password">Password</label><input id="password" name="password" type="password" ng-model="user.password" required autocomplete="off">
            </div>
            <div>
                <label for="repeat">Repeat</label><input id="repeat" name="_repeat" type="password" ng-model="user.passwordRepeat" validate-equals="user.password" required>
                <span ng-show="form._repeat.$error['equal']" class="help-inline">X</span>
            </div>
            -->
            <field name="username" label="Username" type="text" ng-model="user.username" required unique-username>
                <validator key="uniqueUseranme">Username not unique</validator>
            </field>

            <field name="password" label="Password" ng-model="user.password" required autocomplete="off" type="password">
            </field>
            <field name="_repeat" label="Repeat password" ng-model="user.passowrdRepeat" type="password" validate-equals="user.password" required>
                <validator key="equal">Password not match</validator>
            </field>


            <field name="email" label="Email" ng-model="user.email" type="email" required>
                <validator key="email">Not a valid Email address.</validator>
            </field>

            <field name="sampleTxt" type="text" ng-model="user.sampleTxt">
                <label>(<span ng-repeat="i in [0,1,2,3,4,5]">{{i}}<span ng-if="!$last">, </span></span>)</label>
            </field>
            </field>
            <field name="age" label="Age" ng-model="user.age" type="number" required min="0">
                <validator key='required'>{{$fieldLabel}} is required</validator>
                <validator key='number'>{{$fieldLabel}} must be a number</validator>
                <validator key='min'>{{$fieldLabel}} must be no less then 0. (too young for {{user.username}})</validator>
            </field>

            <field name="gender" ng-model="user.gender" template="select" ng-options="x for x in ['male', 'female']" required>
                <label>Gender</label>
            </field>

            <field name="description" label="Description" template="textarea" ng-model="user.description"
                   ng-maxlength="20" ng-minlength="3">
                <validator key="maxlength">{{$fieldLabel}} must be less than 20</validator>
                <validator key="minlength">{{$fieldLabel}} must be greater than 3</validator>
            </field>

            <field name="isAdmin" label="Is Admin" type="checkbox" ng-model="user.isAdmin">
                <label>Is Admin</label>
            </field>
        </form>
    </div>
    <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>