<div class="header" ng-controller="HeaderCtrl">
    <div class="navbar">
        <h3 class="text-muted pull-left"><a ng-click="home()">AScrum</a></h3>

        <div class="pull-right">
            <ul class="nav nav-pills pull-left" ng-show="isAuthenticated()">
                <li ng-class="{active:isNavbarActive('projects')}"><a ui-sref="projects.list">Projects</a></li>
                <li>
                    <a class="dropdown-toggle btn-link" data-toggle="dropdown">Backlogs<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="backlogs.list">All Backlogs</a></li>
                        <li><a href="#">Backlogs not planned</a></li>
                    </ul>
                </li>
                <li><a ng-href="#">Contact</a></li>
            </ul>
            <login-toolbar></login-toolbar>
        </div>
    </div>
    <div>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name | limitTo:10}}</span>
                    <span ng-switch-default><a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name | limitTo:10}}</a></span>
                    <span ng-if="breadcrumb.name.length>10">...</span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <!--<div>-->
    <!--<alert-list alerts="notifications.current"></alert-list>-->
    <!--</div>-->
</div>
