<div ng-controller="AlertPlayCtrl" ng-cloak>
    <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->

    <input type='text' ng-model="alertMsg">
    <select ng-model="alertType">
        <option value="info">info</option>
        <option value="danger">danger</option>
        <option value="success">success</option>
        <option value="warning">warning</option>
    </select>
    <button class="btn" ng-click="addAlert()">Add new alert</button>
</div>

<hr>
<div class="jumbotron" ng-cloak>
  <h3>AScrum</h3>
  <p class="text-info">({{now | date:'fullDate'}})</p>
  <p class="lead">
    <div>
        <h4>Selected: <span>{{selectedProject.id}}</span></h4>
        <ul>
            <li ng-repeat="p in projects" class="animate-repeat"><a ng-click="selectProject(p)">{{p.id}} -- {{p.name}}</a></li>
        </ul>
    </div>


  </p>
  <p>
      <a class="btn btn-lg btn-success" ng-click="listProjects()">Projects<span class="glyphicon glyphicon-ok"></span></a>
      <a class="btn btn-lg btn-success" ng-click="listBacklogs(true,0,5)">Backlogs<span class="glyphicon glyphicon-ok"></span></a>
  </p>
  <p><button class="btn btn-default" ng-click="open()">Open me</button>
      <button class="btn btn-default" ng-click="openLogin()">Login</button>
      <button class="btn btn-default" ng-click="showUser()">Show user</button>
  </p>
  <p>
      Current user: <span>{{currentUsername}}</span>
  </p>
</div>

<div class="row marketing">
    <div ng-controller="BacklogsPaginationCtrl" ng-cloak>
        <h4>Count: <span>{{backlogCount.value}}</span></h4>
        <pagination ng-show="show()" total-items="backlogCount.value" ng-model="currentPage" items-per-page="itemsPerPage"></pagination>
        <ul>
            <li ng-repeat="b in backlogs" class="animate-repeat">{{b.id}} -- {{b.name}}</li>
        </ul>
    </div>
</div>


